version: "3.9"

services:
  db:
    image: "postgres"
    container_name: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped
    env_file:
      - .env
      
  server:
    build: .
    command: "npm run dev"
    ports:
      - "5000:5000"
    restart: always
    container_name: prisma-api
    env_file:
      - .env
    volumes:
      - ./prisma:/app/prisma
      - ./src:/app/src
    depends_on:
      - db

volumes:
  postgres-data:
